<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Creer une fiche</title>
</head>
<body>
<main>
    <div class="container col-md-8">
        {% if errors is not empty %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if message is not null %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endif %}
        <form class="row g-3" action="creer" method="post" name="formulaire">
          <div class="col-md-6">
            <label for="title" class="form-label">
              <h5>Titre</h5>
            </label>
            <input
              class="form-control border border-dark"
              type="text"
              id="title"
              placeholder="Renseignez le titre"
              name="title"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="year" class="form-label">
              <h5>Année</h5>
            </label>
            <input
              class="form-control border border-dark"
              type="text"
              id="year"
              placeholder="Renseignez l'année"
              name="year"
              required
            />
          </div>
          <div class="col-md-12">
            <label for="poster" class="form-label">
              <h5>Affiche</h5>
            </label>
            <input
              class="form-control border border-dark"
              type="text"
              id="poster"
              placeholder="Mettez l'URL de l'affiche"
              name="poster"
              required
            />
          </div>
          <div class="col-md-12">
            <label for="director" class="form-label">
              <h5>Réalisateur</h5>
            </label>
            <input
              class="form-control border border-dark"
              type="text"
              id="director"
              placeholder="Mettez le réalisateur"
              name="director"
              required
            />
          </div>
          <div class="col-md-12" id="roles">
            <h5>Rôles</h5>
            <button
              class="btn btn-secondary rounded border border-dark mb-1"
              type="button"
              onclick="addRole()"
            >
              Ajouter
            </button>
            <div class="row g-3 align-items-center" id="role1">
              <div class="col-md-4">
                <label for="character1" class="form-label"></label>
                <input
                  class="form-control border border-dark mb-1"
                  type="text"
                  id="character1"
                  placeholder="Personnage"
                  name="character[]"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="name1" class="form-label"></label>
                <input
                  class="form-control border border-dark mb-1"
                  type="text"
                  id="name1"
                  placeholder="Nom"
                  name="name[]"
                  required
                />
              </div>
              <div class="col-md-4">
                <label for="firstname1" class="form-label"></label>
                <input
                  class="form-control border border-dark mb-1"
                  type="text"
                  id="firstname1"
                  placeholder="Prénom"
                  name="firstname[]"
                  required
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center col-12">
            <button class="btn btn-primary mt-1" type="submit">
              Créer Film
            </button>
          </div>
        </form>
    </div>
</main>

<script src="roles.js"></script>
</body>
</html>
