<header>
  <p>Ceci est notre header</p>
  <a href="home">
    <button>Accueil</button>
  </a>
  <a href="creer">
    <button>Créer</button>
  </a>
  {% if session != null %}
  <p>Hey {{ session }} !</p>
  <a href="disconnect">
    <button>Se déconnecter</button>
  </a>
  {% else %}
  <p>Hey {{ session }} !</p>
  <a href="login">
    <button>Se connecter</button>
  </a>
  {% endif %}
</header>
<hr />
