<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body style="height: 94vh">
    <main style="height: 75%">
      <div
        style="height: 100%"
        class="d-flex flex-column justify-content-center align-self-center"
      >
        <div
          style="height: 100%"
          class="d-flex flex-column justify-content-center align-self-center"
        >
          <!-- Carousel Start -->
          <div class="container-fluid" style="height: 60%">
            {% if error %}
            <h1>Login</h1>
            <form action="login" method="post">
              <label for="email">Email:</label>
              <input type="text" id="email" name="email" required />

              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required />

              <input type="submit" value="Login" />
            </form>
            <p class="error">{{ error }}</p>

            {% else %}
            <h1>Login</h1>
            <form action="login" method="post">
              <label for="email">Email:</label>
              <input type="text" id="email" name="email" required />

              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required />

              <input type="submit" value="Login" />
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
