<html lang="en">
  <head>
    <title>Register</title>
  </head>
  <body style="height: 94vh">
    <main style="height: 75%">
      <div
        style="height: 100%"
        class="d-flex flex-column justify-content-center align-self-center"
      >
        <div
          style="height: 100%"
          class="d-flex flex-column justify-content-center align-self-center"
        >
            <h1>Register</h1>
            <form action="register" method="post">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username"  placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"  placeholder="Enter email">
                  </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            
                <button type="submit" class="btn btn-primary">S'enregister</button>
              </form>

          </div>
        </div>
      </div>
    </main>
  </body>
</html>
